body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
}

.login-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 95%;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.chat-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
}
.message-input-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 60px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
}
.message-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 3px;
}

.message-content {
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
}

.message-time {
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  text-align: end;
}

.message-input {
  display: flex;
  margin-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  padding: 8px 16px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-input button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  text-align: center;
  padding: 0 20px;
}
.title {
  text-align: center;
  padding-top: 50px;
}
.logout {
  padding: 10px;
  color: grey;
  border-radius: 4px;
  cursor: pointer;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.boards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sea-war-board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

.ship {
  background-color: #336699;
}

.hit {
  background-color: #ff3333;
}

.miss {
  background-color: #99cc99;
}
